#
# This systemd unit starts a asterisk instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=Asterisk server
Requires=mariadb.service
After=mariadb.service


[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/asterisk.pid %t/asterisk.ctr-id
ExecStartPre=-runagent install-certificate asterisk
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/asterisk.pid \
    --cidfile=%t/asterisk.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=asterisk:/etc/asterisk:z \
    --volume=spool:/var/spool/asterisk:z \
    --volume=sounds:/var/lib/asterisk/sounds:z \
    --volume=moh:/var/lib/asterisk/moh:z \
    --volume=agi-bin:/var/lib/asterisk/agi-bin:z \
    --volume=astdb:/var/lib/asterisk/db:z \
    --volume=/dev/log:/dev/log \
    --volume=asterisk-cert:/etc/asterisk/keys:z \
    --env=ASTMANAGERHOST \
    --env=ASTMANAGERPORT \
    --env=AMPMGRUSER \
    --env=AMPMGRPASS \
    --env=LOCAL_IP \
    --env=NETHVOICE* \
    --env=ASTERISK_* \
    --network=host \
    ${NETHVOICE_ASTERISK_IMAGE}

# Wait till asterisk is active
ExecStartPost=podman exec asterisk bash -c "while [[ $$(/usr/sbin/asterisk -rx 'core show version' 2>/dev/null) != Asterisk* ]]; do ((++attempt<30)) || exit 2; sleep 1 ; done"

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/asterisk.ctr-id
PIDFile=%t/asterisk.pid
Type=forking

[Install]
WantedBy=default.target
