#
# This systemd unit starts a janus instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=janus server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/janus.pid %t/janus.ctr-id
ExecStartPre=-runagent install-certificate janus

ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/janus.pid \
    --cidfile=%t/janus.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --env-file=%S/state/passwords.env \
    --env=LOCAL_IP \
    --env=JANUS_TRANSPORT_PORT \
    --volume=/dev/log:/dev/log \
    --volume=janus-cert:/etc/certificates:z \
    --network=host \
    --tz=${TIMEZONE} \
    ${NETHVOICE_JANUS_IMAGE} \
    /usr/local/bin/janus \
    --configs-folder=/usr/local/etc/janus \
    --interface=lo \
    --ice-ignore-list=${ICEIGNORE} \
    --ice-enforce-list=${ICEENFORCE} \
    --stun-server=${STUNSERVER}:${STUNPORT} \
    --rtp-port-range=${JANUS_RTPSTART}-${JANUS_RTPEND} \
    --cert-pem=/etc/certificates/NethServer.pem \
    --cert-key=/etc/certificates/NethServer.key \
    --debug-level=${JANUS_DEBUG_LEVEL}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/janus.ctr-id
PIDFile=%t/janus.pid
Type=forking

[Install]
WantedBy=default.target
