[Unit]
Description=MariaDB server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=on-failure
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/%n.ctr-id
ExecStart=/usr/bin/podman run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=no-conmon \
        --rm \
        --sdnotify=conmon \
        --detach \
        --replace \
        --name=%N \
        --volume=mariadb-data:/var/lib/mysql:Z \
        --volume=./mariadb/99_ns8.cnf:/etc/mysql/conf.d/99_ns8.cnf:Z \
        --network host \
        --health-cmd "healthcheck.sh --su=mysql --connect --innodb_initialized" \
        --env=MARIADB_ROOT_PASSWORD \
        --env=MARIADB_MYSQL_LOCALHOST_USER=1 \
        --env=AMPDBUSER \
        --env=AMPDBPASS \
        --env=CDRDBUSER \
        --env=CDRDBPASS \
		--env=CTIUSER \
        --env=NETHCTI_DB_USER \
        --env=NETHCTI_DB_PASSWORD \
        --env=PHONEBOOK_DB_NAME \
        --env=PHONEBOOK_DB_USER \
        --env=PHONEBOOK_DB_PASS \
        --env=REPORTS_PASSWORD \
        ${NETHVOICE_MARIADB_IMAGE}

ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
Type=notify
NotifyAccess=all

[Install]
WantedBy=default.target
