#
# This systemd unit starts a mariadb instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=mariadb server

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/mariadb.pid %t/mariadb.ctr-id
ExecStart=/usr/bin/podman run \
	--detach \
	--conmon-pidfile=%t/mariadb.pid \
	--cidfile=%t/mariadb.ctr-id \
	--cgroups=no-conmon \
	--log-opt=tag=%u \
	--replace --name=%N \
	--volume=mariadb-data:/var/lib/mysql:Z \
	--volume=/dev/log:/dev/log \
	--publish=127.0.0.1:${NETHVOICE_MARIADB_PORT}:3306 \
	--env=MARIADB_ROOT_PASSWORD \
	--env=NETHVOICE_MARIADB_PORT \
	--env=AMPDBUSER \
	--env=AMPDBPASS \
	--env=CDRDBUSER \
	--env=CDRDBHOST \
	--env=CDRDBPASS \
	--env=CTIUSER \
	--env=NETHCTI_DB_USER \
	--env=NETHCTI_DB_PASSWORD \
	--env=PHONEBOOK* \
	--env=ASTERISK_RTPSTART \
	--env=ASTERISK_RTPEND \
	--env=ASTERISK_SIP_PORT \
	--env=ASTERISK_SIPS_PORT \
	--env=ASTERISK_IAX_PORT \
	--env=ASTMANAGERPORT \
	--env=REPORTS_PASSWORD \
	--network=host \
	${NETHVOICE_MARIADB_IMAGE} \
	--port ${NETHVOICE_MARIADB_PORT}

# Wait till db is initialized
ExecStartPost=podman exec mariadb bash -c "while ! mysql -u${AMPDBUSER} -p${AMPDBPASS} -h127.0.0.1 -P${NETHVOICE_MARIADB_PORT} asterisk -e 'SHOW TABLES' 2> /dev/null > /dev/null; do sleep 5; done"

ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mariadb.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mariadb.ctr-id
PIDFile=%t/mariadb.pid
Type=forking

[Install]
WantedBy=default.target
