#
# This systemd unit starts a nethcti instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=NethCTI server daemon
Wants=freepbx.service
After=freepbx.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/nethcti-server.pid %t/nethcti-server.ctr-id
ExecStartPre=-runagent install-certificate nethcti-server

ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nethcti-server.pid \
    --cidfile=%t/nethcti-server.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=nethcti:/etc/nethcti:z \
    --volume=nethcti-server:/root:Z \
    --volume=nethcti-server-code:/usr/lib/node/nethcti-server:Z \
    --volume=nethcti-server-cert:/etc/certificates:z \
    --volume=sounds:/var/lib/asterisk/sounds:z \
    --volume=spool:/var/spool/asterisk:z \
    --volume=reports_config:/opt/nethvoice-report:z \
    --volume=/dev/log:/dev/log \
    --env=ASTMANAGERPORT \
    --env=APACHE_PORT \
    --env=NETHCTI* \
    --env=NETHVOICE* \
    --env=PHONEBOOK* \
    --env=AMPDBUSER \
    --env=AMPDBHOST \
    --env=AMPDBNAME \
    --env=AMPDBPASS \
    --env=CDRDBHOST \
    --env=CDRDBNAME \
    --env=CDRDBUSER \
    --env=CDRDBPASS \
    --network=host \
    ${NETHVOICE_CTI_SERVER_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nethcti-server.ctr-id
ExecReload=/usr/bin/podman exec nethcti-server node /app/nethcti-cli reload
PIDFile=%t/nethcti-server.pid
Type=forking

[Install]
WantedBy=default.target
