#
# This systemd unit starts a nethcti instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=NethCTI ui daemon

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/nethcti-ui.pid %t/nethcti-ui.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/nethcti-ui.pid \
    --cidfile=%t/nethcti-ui.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=/dev/log:/dev/log \
    --network=host \
    --env-file=%S/state/passwords.env \
    --env=PRODUCT_NAME=${NETHCTI_PRODUCT_NAME} \
    --env=COMPANY_NAME=${NETHCTI_COMPANY_NAME} \
    --env=COMPANY_URL=${NETHCTI_COMPANY_URL} \
    --env=API_ENDPOINT=${NETHCTI_UI_HOST} \
    --env=VOICE_ENDPOINT=${NETHVOICE_HOST} \
    --env=HOSTNAME=127.0.0.1 \
    --env=PORT=${NETHCTI_UI_PORT} \
    --env=SIP_PORT=${ASTERISK_SIP_PORT} \
    --env=TIMEZONE=${TIMEZONE} \
    --env=LOGIN_PEOPLE=${LOGIN_PEOPLE} \
    --env=NAVBAR_LOGO_URL=${NAVBAR_LOGO_URL} \
    --env=NAVBAR_LOGO_DARK_URL=${NAVBAR_LOGO_DARK_URL} \
    --env=LOGIN_LOGO_URL=${LOGIN_LOGO_URL} \
    --env=LOGIN_LOGO_DARK_URL=${LOGIN_LOGO_DARK_URL} \
    --env=FAVICON_URL=${FAVICON_URL} \
    --env=LOGIN_BACKGROUND_URL=${LOGIN_BACKGROUND_URL} \
    --tz=${TIMEZONE} \
    ${NETHVOICE_CTI_UI_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/nethcti-ui.ctr-id
PIDFile=%t/nethcti-ui.pid
Type=forking

[Install]
WantedBy=default.target
