[Unit]
Description=Timer for phonebook source update

[Timer]
OnCalendar=hourly
Persistent=true
Unit=phonebook-update.service

[Install]
WantedBy=timers.target
