[Unit]
Description=Update centralized phonebook

[Service]
Type=simple
ExecStart=podman exec freepbx /usr/share/phonebooks/phonebook
ExecStartPost=systemctl --user restart phonebook.service
WorkingDirectory=%S/state
SyslogIdentifier=%u/%N

[Install]
WantedBy=multi-user.target
