#
# This systemd unit starts a tancredi instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#
[Unit]
Description=tancredi server
Requires=freepbx.service
After=freepbx.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
ExecStartPre=/bin/rm -f %t/tancredi.pid %t/tancredi.ctr-id
ExecStart=/usr/bin/podman run \
    --detach \
    --conmon-pidfile=%t/tancredi.pid \
    --cidfile=%t/tancredi.ctr-id \
    --cgroups=no-conmon \
    --log-opt=tag=%u \
    --replace --name=%N \
    --volume=tancredi:/var/lib/tancredi:z \
    --volume=astdb:/var/lib/asterisk/db:z \
    --volume=/dev/log:/dev/log \
    --env=TANCREDIPORT \
    --env=NETHVOICESECRETKEY \
    --env=AMPDBUSER \
    --env=AMPDBPASS \
    --env=NETHVOICE_MARIADB_PORT \
    --env=NETHVOICE_HOST \
    --env=TANCREDI_STATIC_TOKEN \
    --env=TIMEZONE \
    --env=NETHVOICE_PROXY_FQDN \
    --env=PHONEBOOK_LDAP* \
    --tz=${TIMEZONE} \
    --network=host \
    ${NETHVOICE_TANCREDI_IMAGE}

ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/tancredi.ctr-id
PIDFile=%t/tancredi.pid
Type=forking

[Install]
WantedBy=default.target
