[Unit]
Description=Service restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "if /usr/bin/systemctl --user is-active -q nethcti-server ; then /usr/bin/systemctl --user reload nethcti-server.service; else /usr/bin/systemctl --user start nethcti-server.service; fi"
ExecStart=/usr/bin/systemctl --user restart reports-api.service

[Install]
WantedBy=default.target
