{% if provisioning_user_agent matches '/^Nethesis NP-X3/' %}
Version=2.4.18.2
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x3sg-5913-RECOVERY-P0.18.23.1.75-2.4.18.2-1217T2024-03-20-03.28.47.z" }}
BuildTime=2024.03.20 03:28
Info=TXT|XML
{% elseif provisioning_user_agent matches '/^Nethesis NP-X5/' %}
Version=2.4.13.1
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x5u-6906-P0.18.23.142-2.4.13.1-3681T2024-12-23-20.03.57.z" }}
BuildTime=2024.12.23 20:03
Info=TXT|XML
{% endif %}
