{% if provisioning_user_agent matches '/^Nethesis NP-X3/' %}
Version=2.4.9
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x3sg-5913-RECOVERY-P0.18.23.1.23-2.4.9-1164T2021-09-18-07.52.23.z" }}
BuildTime=2021.09.18 07:52
Info=TXT|XML
{% elseif provisioning_user_agent matches '/^Nethesis NP-X5/' %}
Version=2.4.2.1
Firmware={{ "#{provisioning_url_scheme}://#{hostname}/#{provisioning_url_path}#{tok2}/firmware/x5u-6906-P0.18.23.58-2.4.2.1-3572T2021-05-17-14.53.22.z" }}
BuildTime=2021.05.17 14:53
Info=TXT|XML
{% endif %}
