{
    "listen_address": "0.0.0.0:{{ reports_api_port }}",
    "redis_network_type": "tcp",
    "redis_address": "127.0.0.1:{{ reports_redis_port }}",
    "ttl_cache": 480,
    "cdr_database": {
        "host": "127.0.0.1",
        "port": "{{ nethvoice_mariadb_port }}",
        "user": "nethvoice_report",
        "password": "{{ reports_password }}",
        "name": "asteriskcdrdb"
    },
    "phonebook_database": {
        "host": "127.0.0.1",
        "port": "{{ nethvoice_mariadb_port }}",
        "user": "nethvoice_report",
        "password": "{{ reports_password }}",
        "name": "phonebook"
    },
    "freepbx_database": {
        "host": "127.0.0.1",
        "port": "{{ nethvoice_mariadb_port }}",
        "user": "nethvoice_report",
        "password": "{{ reports_password }}",
        "name": "asterisk"
    },
    "secret": "{{ reports_secret }}",
    "query_path": "/opt/nethvoice-report/api/queries",
    "template_path": "/opt/nethvoice-report/api/templates",
    "values_path": "/opt/nethvoice-report/api/values",
    "views_path": "/opt/nethvoice-report/api/views",
    "phonebook_path": "/opt/nethvoice-report/api/phonebook/phonebook.sql",
    "rrd_path": "/var/lib/collectd/rrd",
    "user_auth_file": "/opt/nethvoice-report/freepbx/user_authorizations.json",
    "default_filter": {
        "queues": [],
        "groups": [],
        "time": {
            "group": "day",
            "division": "60",
            "range": "yesterday",
            "cdrDashboardRange": "past_week",
            "interval": {
                "start": "",
                "end": ""
            }
        },
        "name": "",
        "agent": "",
        "geoGroup": "regione"
    },
    "api_endpoint": "",
    "api_key": "{{ reports_api_key }}",
    "settings": {
        "start_hour": "09:00",
        "end_hour": "18:00",
        "query_limit": "2000",
        "null_call_time": "5",
        "destinations": [
            "National",
            "Mobile",
            "International",
            "Emergency",
            "PayNumber"
        ],
        "call_patterns": [
            {
                "prefix": "00390",
                "destination": "National"
            },
            {
                "prefix": "+390",
                "destination": "National"
            },
            {
                "prefix": "0",
                "destination": "National"
            },
            {
                "prefix": "00393",
                "destination": "Mobile"
            },
            {
                "prefix": "+393",
                "destination": "Mobile"
            },
            {
                "prefix": "3",
                "destination": "Mobile"
            },
            {
                "prefix": "00",
                "destination": "International"
            },
            {
                "prefix": "+",
                "destination": "International"
            },
            {
                "prefix": "1",
                "destination": "Emergency"
            },
            {
                "prefix": "8",
                "destination": "PayNumber"
            }
        ],
        "currency": "EUR",
        "costs": []
    }
}
