<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('users',2) ? 'active' : ''}}" data-tabgroup="1">
          <a><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Utenti' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('config',2) ? 'active' : ''}}" data-tabgroup="2">
          <a><span class="wizard-pf-step-number">2</span><span class="wizard-pf-step-title">{{'Configurazioni' |
              translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('cdr',2) ? 'active' : ''}}" data-tabgroup="3">
          <a><span class="wizard-pf-step-number">3</span><span class="wizard-pf-step-title">{{'CDR' | translate}}</span></a>
        </li>
        <li class="wizard-pf-step {{resolveActiveTab('report',2) ? 'active' : ''}}" data-tabgroup="4">
          <a><span class="wizard-pf-step-number">4</span><span class="wizard-pf-step-title">{{'Report' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="wizard-pf-contents adjust-size no-margin-bottom">
    <h1 id="users-migration-title" class="control-label centered" for="textInput-markup">{{'Users migration' |
      translate}}</h1>
    <!-- Users profiles -->
    <div class="list-group list-view-pf adjust-margin-extensions no-border margin-migration-users">
      <div class="adjust-profile-margin">
        <div>
          <h1 ng-click="migration.profiles.started ? toggleMig('collapse-profilemig') : ''" class="adjust-header adjust-profile-header {{migration.profiles.statusDone ? 'disabled' : ''}}">
            <span class="fa fa-user card-pf-icon-circle config-title-icon"></span>{{'Migration' | translate}}: <span class="weight">{{"users profiles" | translate}}</span>
            <span ng-if="migration.profiles.loading" class="inprogress-text">{{"in progress" | translate}} 
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </span>
            <span ng-if="!migration.profiles.loading" class="fa fa-angle-down toggle-icon-mig icon-med-reload profile-open-icon"></span>
            <span ng-if="migration.profiles.status === 'success' && !migration.profiles.completed" class="pficon pficon-ok success-mig-icon icon-med-reload profile-open-icon"></span>
            <span ng-if="migration.profiles.status === 'fail' && !migration.profiles.completed" class="pficon pficon-error-circle-o success-mig-icon icon-med-reload profile-open-icon"></span>
            <div ng-if="migration.profiles.loading" class="spinner spinner-sm profile-save-spinner migration-spinners"></div>
          </h1>
          <div id="collapse-profilemig" class="panel-collapse simple-hidden adjust-profile-body">
            <div class="panel-body profile-panel">
              <div ng-if="migration.profiles.status === 'success'" class="alert alert-success">
                <span class="pficon pficon-ok"></span>
                {{"Migration has been completed" | translate}}.
              </div>
              <div ng-if="migration.profiles.status === 'fail' " class="alert alert-danger alert-dismissable">
                <span class="pficon pficon-error-circle-o"></span>
                {{"Migration has not been completed" | translate}}.
              </div>
              <div ng-repeat="error in migration.profiles.data.errors track by $index" class="alert alert-danger overflow-auto">
                <span class="pficon pficon-error-circle-o"></span>
                {{error | translate}}
              </div>
              <div ng-repeat="warning in migration.profiles.data.warnings track by $index" class="alert alert-warning overflow-auto">
                <span class="pficon pficon-warning-triangle-o"></span>
                {{warning | translate}}
              </div>
              <div ng-repeat="info in migration.profiles.data.infos track by $index" class="alert alert-info overflow-auto">
                <span class="pficon pficon-info"></span>
                {{info | translate}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Users and extensions -->
    <div class="list-group list-view-pf adjust-margin-extensions no-border margin-migration-users">
      <div class="adjust-profile-margin">
        <div id="accordion-markup-usersmig">
          <h1 ng-click="migration.users.statusDone ? '' : toggleMig('collapse-usermig')" class="adjust-header adjust-profile-header {{migration.users.statusDone ? 'disabled' : ''}}">
            <span class="pficon pficon-users card-pf-icon-circle config-title-icon"></span>{{'Migration' | translate}}:
            <span class="weight">{{"users and extensions" | translate}}</span>
            <span ng-if="migration.users.loading" class="inprogress-text">{{"in progress" | translate}} 
              <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </span>
            <span ng-if="!migration.users.loading && !migration.users.statusDone" class="fa fa-angle-down toggle-icon-mig icon-med-reload profile-open-icon"></span>
            <span ng-if="migration.users.status === 'success' && !migration.users.completed" class="pficon pficon-ok success-mig-icon icon-med-reload profile-open-icon"></span>
            <span ng-if="migration.users.status === 'fail' && !migration.users.completed" class="pficon pficon-error-circle-o success-mig-icon icon-med-reload profile-open-icon"></span>
            <div ng-if="migration.users.loading" class="spinner spinner-sm profile-save-spinner migration-spinners"></div>
            <div ng-show="profile.onSave" class="spinner spinner-sm profile-save-spinner"></div>
          </h1>
          <div id="collapse-usermig" class="simple-hidden adjust-profile-body">
            <div class="panel-body profile-panel">
              <div ng-if="(migration.profiles.status === 'success' || migration.profiles.status === 'fail') && !migration.users.started" class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o"></span>
                <strong>{{"Associate the user name with the desired extension" | translate}}</strong> {{"before starting users migration" | translate}}.
              </div>
              <div ng-if="migration.users.status === 'success'" class="alert alert-success">
                <span class="pficon pficon-ok"></span>
                {{"Migration has been completed" | translate}}.
              </div>
              <div ng-if="migration.users.status === 'fail'" class="alert alert-danger alert-dismissable">
                <span class="pficon pficon-error-circle-o"></span>
                {{"Migration has not been completed" | translate}}. {{"Continue to configurations migration or try again" | translate}}.
              </div>
              <div ng-repeat="error in migration.users.data.errors track by $index" class="alert alert-danger overflow-auto">
                <span class="pficon pficon-error-circle-o"></span>
                {{error | translate}}
              </div>
              <div ng-repeat="warning in migration.users.data.warnings track by $index" class="alert alert-warning overflow-auto">
                <span class="pficon pficon-warning-triangle-o"></span>
                {{warning | translate}}
              </div>
              <div ng-repeat="info in migration.users.data.infos track by $index" class="alert alert-info overflow-auto">
                <span class="pficon pficon-info"></span>
                {{info | translate}}
              </div>
              <div ng-if="!(oldusers | isEmpty)" class="container-fluid">
                <div class="list-group list-view-pf list-view-pf-view adjust-margin-extensions">
                  <div ng-show="migration.users.status != 'success' && migration.users.status != 'fail'"
                    class="list-group-item margin-migration-usersmigration" ng-repeat="(key, olduser) in oldusers | limitTo: olduserLimit">
                    <div class="list-view-pf-actions {{olduser.alreadyExists ? 'has-error' : ''}}">
                      <div ng-show="olduser.isInAction" class="spinner spinner-sm adjust-margin"></div>
                      <span ng-show="!olduser.isInAction" ng-click="checkRemoveOldExtension(key)" data-toggle="modal"
                        data-target="#confirmDelete" popover-placement="top-right" popover-trigger="'mouseenter'"
                        popover-animation="true" uib-popover="{{'Delete' | translate}}" class="fa fa-trash red-colored icon-med"></span>
                      <span ng-if="olduser.alreadyExists" class="help-block">{{'Extension already in use' | translate}}</span>
                    </div>
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span class="fa fa-user list-view-pf-icon-sm"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="left-column-input-container input-group flex-container">
                            <div class="list-group-item-heading imp-full-size-max">
                              <button id="{{'selectId' + olduser.extension}}" ng-click="openSelect('selectId' + olduser.extension)" class="form-control width-180 float-left select-text-inputs {{olduser.username ? '' : 'cursive disabled-color'}}" data-toggle="dropdown">
                                 {{olduser.username || 'Select user' | translate}}
                              </button>
                              <span id="btnExt-{{olduser.extension}}" data-toggle="dropdown" popover-placement="top-center"
                                popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Select user' | translate}}"
                                class="width-26 float-left adjust-button dropdown-toggle btn btn-default">
                                <span class="fa fa-angle-down"></span>
                              </span>
                              <span ng-click="setNewUserFor(key)" data-toggle="modal" data-target="#createUser"
                                popover-placement="top-center" popover-trigger="'mouseenter'" popover-animation="true"
                                uib-popover="{{'Add user' | translate}}" class="width-26 float-left adjust-button dropdown-toggle btn btn-default">
                                <span class="fa fa-user-plus"></span>
                              </span>
                              <ul class="dropdown-menu dropdown-user-migration" role="menu" aria-labelledby="btnExt-{{olduser.extension}">
                                <li ng-if="(!olduser.oldusername) && (olduser.username)" ng-click="disassociatesUser(olduser)" class="not-selectable">
                                  <a>{{"Empty field" | translate}}</a>
                                </li>
                                <li ng-if="(olduser.oldusername) && (olduser.oldusername !==olduser.username)" ng-click="resetUser(olduser)" class="not-selectable">
                                  <a>{{"Reset field" | translate}}</a>
                                </li>
                                <li ng-if="!(users | isEmpty) && !(userz.inuse)" ng-repeat="(keyz, userz) in users | limitTo: userLimit" class="not-selectable">
                                  <a ng-click="associateUser(olduser, userz)">{{userz.username}}</a>
                                </li>
                                <li ng-if="!(areUsersAvaible())" class="not-selectable">
                                  <a class="disabled-color">{{"No user available" | translate}}</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="list-group-item-text">
                            {{olduser.name}}
                          </div>
                        </div>
                        <div class="list-view-pf-additional-info">
                          <div ng-if="olduser.extension !== 'none'" class="list-view-pf-additional-info-item">
                            <b>{{olduser.extension}}</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-show="(user.default_extension != 'none' && user.default_extension != '') && (migration.users.status == 'success' || migration.users.status == 'fail')" class="list-group-item margin-migration-usersmigration" ng-repeat="(key, user) in users  | limitTo: userLimit">
                    <div class="list-view-pf-actions {{user.alreadyExists ? 'has-error' : ''}}">
                      <div ng-show="user.isInAction" class="spinner spinner-sm adjust-margin"></div>
                      <span ng-show="!user.isInAction" ng-click="checkRemoveOldExtension(key)" data-toggle="modal" data-target="#confirmDelete"
                        popover-placement="top-right" popover-trigger="'mouseenter'" popover-animation="true" uib-popover="{{'Delete' | translate}}"
                        class="pficon pficon-ok red-colored icon-med"></span>
                      <span ng-if="user.alreadyExists" class="help-block">{{'Extension already in use' | translate}}</span>
                    </div>
                    <div class="list-view-pf-main-info">
                      <div class="list-view-pf-left">
                        <span class="fa fa-user list-view-pf-icon-sm"></span>
                      </div>
                      <div class="list-view-pf-body">
                        <div class="list-view-pf-description">
                          <div class="left-column-input-container input-group flex-container">
                            <div id="{{'selectIdList' + user.extension}}" class="list-group-item-heading imp-full-size-max">
                              <div class="list-group-item-text">
                                {{user.username}}
                              </div>
                            </div>
                          </div>
                          <div class="list-group-item-text">
                            {{user.displayname}}
                          </div>
                        </div>
                        <div class="list-view-pf-additional-info">
                          <div ng-if="user.extension !== 'none'" class="list-view-pf-additional-info-item">
                            <b>{{user.default_extension}}</b>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div ng-show="(users | isEmpty) && (migration.users.status == 'success' || migration.users.status == 'fail')" class="blank-slate-pf ">
                    <div class="blank-slate-pf-icon">
                      <span class="pficon pficon-users"></span>
                    </div>
                    <h1>
                      {{'No users found' | translate}}
                    </h1>
                    <p>
                      {{'No users have been migrated' | translate}}
                    </p>
                  </div>
                </div>
              </div>
              <div ng-if="oldusers | isEmpty" class="blank-slate-pf ">
                <div class="blank-slate-pf-icon">
                  <span class="pficon pficon-users"></span>
                </div>
                <h1>
                  {{'No users found' | translate}}
                </h1>
                <p ng-if="!mode.isLdap">
                  {{'Check your account provider settings' | translate}}
                </p>
              </div>

              <button ng-hide="migration.users.status === 'success' || migration.users.status === 'fail'" data-toggle="modal" data-target="#importModalMig" class="btn btn-primary btn-lg profile-button-save" type="submit">
                {{'Start migration' | translate}}
              </button>
              <button ng-click="resetUsersMig()" ng-show="migration.users.status === 'fail'" class="btn btn-default btn-lg profile-button-save">
                {{'Try again' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wizardStepBase">
    <div id="wizard-step-footer" class="modal-footer wizard-pf-footer">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 no-padding">
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 no-padding">
          <button type="button" class="btn btn-default wizard-pf-back disabled">
            {{'Back' | translate}}
          </button>
          <button ng-click="migration.users.status === 'success' || migration.users.status === 'fail' || migration.users.statusDone ? showConfMigAlert() : ''" type="button" class="btn btn-primary wizard-pf-next {{migration.users.status === 'success' || migration.users.status === 'fail' || migration.users.statusDone ? '' : 'disabled'}}">
            {{'Next' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="createUserLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="createUserLabel">{{'Add user' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="createUser(newUser)">
        <div class="modal-body">
          <div ng-if="errorUserCreation" class="alert alert-danger overflow-auto">
            <span class="pficon pficon-error-circle-o"></span>
            {{"Username already used" | translate}}.
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Username' | translate}}</label>
            <div class="col-sm-9">
              <input required ng-model="newUser.username" type="text" class="form-control"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput2-modal-markup">{{'Fullname' | translate}}</label>
            <div class="col-sm-9">
              <input required ng-model="newUser.fullname" type="text" id="textInput2-modal-markup" class="form-control"></div>
          </div>
        </div>
        <div ng-show="onSave" class="spinner spinner-sm adjust-margin loader-modal"></div>
        <div class="modal-footer submit">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button type="submit" class="btn btn-primary">{{'Save' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="confirmDelete" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{'Confirm deletion' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="removeOldExtension()">
        <div class="modal-body">
          <div ng-if="!temp.loading" class="alert alert-warning alert-dismissable" style="margin-bottom: 0px;">
            <span class="pficon pficon-warning-triangle-o"></span>
            <strong>{{'Are you sure you want to delete extension' | translate}} {{oldusers[oldUserToRemove].extension}}
              {{'from the list' | translate}}?</strong>
          </div>
        </div>
        <div class="modal-footer submit">
          <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
          <button class="btn btn-danger" type="submit">{{'Delete' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div id="importModalMig" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Users migration' | translate}}</h4>
        </div>
        <form class="form-horizontal" ng-submit="startUsersMig()">
          <div class="modal-body">
            <div ng-if="!temp.loading" class="alert alert-warning alert-dismissable" style="margin-bottom: 0px;">
              <span class="pficon pficon-warning-triangle-o"></span>
              <strong>{{'Are you sure you want to start users migration' | translate}}?</strong>
            </div>
            <div ng-if="temp.loading">
              <div class="progress-description">
                <div ng-if="temp.currentProgress < 100 && temp.currentProgress != -1" class="spinner spinner-xs spinner-inline"></div>
                <span ng-if="temp.currentProgress == 100" class="pficon pficon-ok"></span>
                <span ng-if="temp.currentProgress == -1" class="pficon pficon-error-circle-o"></span>
                <span ng-if="temp.currentProgress != -1"><strong>{{'Migrating' | translate}}:</strong> {{'users' | translate}}</span>
                <span ng-if="temp.currentProgress == -1"><strong>{{'Error' | translate}}:</strong> {{'some users migration failed' | translate}}</span>
              </div>
              <div class="progress progress-label-top-right">
                <div class="progress-bar {{temp.currentProgress == -1 ? 'progress-bar-danger' : 'progress-bar-success'}}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{temp.currentProgress == -1 ? '100' : temp.currentProgress}}%;">
                  <span>{{temp.currentProgress == -1 ? '100' : temp.currentProgress}}%</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer submit">
            <button class="btn btn-default" ng-click="clearImport()" ng-disabled="temp.loadingCancel" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
            <button class="btn btn-primary" ng-disabled="temp.loading" type="submit">{{'Start' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="alertStartConfMig" class="modal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{'Configurations migration' | translate}}</h4>
        </div>
        <form class="form-horizontal" ng-submit="startConfigMig()">
          <div class="modal-body">
              
              <span class="message-list">
                <span class="pficon pficon-warning-triangle-o message-icon"></span>

                <span class="message-subtitle">
                  {{"Continuing the following configurations will be automatically migrated" | translate}}:
                </span>
                <ul class="message-ul">
                  <li>
                    {{'VOIP Trunks' | translate}}
                  </li>
                  <li>
                    {{'gateway and physical trunks' | translate}}
                  </li>
                  <li>
                    {{'iax' | translate}}
                  </li>
                  <li>
                    {{'outbound routes' | translate}}
                  </li>
                  <li>
                    {{'groups' | translate}}
                  </li>
                  <li>
                    {{'queues' | translate}}
                  </li>
                  <li>
                    {{'ivr' | translate}}
                  </li>
                  <li>
                    {{'cqr' | translate}}
                  </li>
                  <li>
                    {{'recordings' | translate}}
                  </li>
                  <li>
                    {{'announcements' | translate}}
                  </li>
                  <li>
                    {{'daynight' | translate}}
                  </li>
                  <li>
                    {{'temporal groups and temporal conditions' | translate}}
                  </li>
                  <li>
                    {{'inbound routes' | translate}}
                  </li>
                  <li>
                    {{'postmig' | translate}}
                  </li>
                </ul>
              </span>
          </div>
          <div class="modal-footer submit">
            <button class="btn btn-default" type="button" data-dismiss="modal">{{'Cancel' | translate}}</button>
            <button class="btn btn-primary" type="submit">{{'Next' | translate}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>