<div class="wizard-pf">
  <div class="wizard-pf-body clearfix">
    <div ng-if="wizard.isWizard" class="wizard-pf-steps">
      <ul class="wizard-pf-steps-indicator">
        <li class="wizard-pf-step {{resolveActiveTab('streaming',2) ? 'active' : ''}}" data-tabgroup="1">
          <a ng-click="goTo('apps/streaming')"><span class="wizard-pf-step-number">1</span><span class="wizard-pf-step-title">{{'Video sources' | translate}}</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div class="wizard-pf-contents adjust-size">
    <h1 class="control-label centered" for="textInput-markup">{{'Video sources configuration' | translate}}</h1>
    <!-- WIZARD -->
    <div ng-if="(allSources | isEmpty)" class="blank-slate-pf video-sources-margin-top">
      <div class="blank-slate-pf-icon">
        <span class="fa fa-video-camera"></span>
      </div>
      <h1>
        {{'No video sources found' | translate}}
      </h1>
      <div class="blank-slate-pf-main-action">
        <button data-toggle="modal" data-target="#newSourceModal" class="btn btn-primary btn-lg">{{'Create new source' | translate}}</button>
      </div>
    </div>
    <!-- END WIZARD -->
    <!-- SOURCES -->
    <h3 ng-if="!(allSources | isEmpty)" class="video-sources-margin-top">{{'Sources' | translate}}</h3>
    <div ng-if="onSaveSuccessSource" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
        </button>
      <span class="pficon pficon-ok"></span>
      <strong>{{'Source saved' | translate}}.</strong> {{'Source saved with success' | translate}}
    </div>
    <div ng-if="onSaveErrorSource" class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        <span class="pficon pficon-close"></span>
        </button>
      <span class="pficon pficon-error-circle-o"></span>
      <strong>{{'Source not saved' | translate}}.</strong> {{'Source saving error' | translate}}
    </div>
    <div ng-if="!(allSources | isEmpty)" class="row row-cards-pf adjust-card">
      <div ng-repeat="g in allSources track by $index | orderBy:'name'" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div id="accordion-markup-{{$index}}" class="card-pf">
          <div data-toggle="collapse" data-parent="#accordion-markup-{{$index}}" href="#collapse-{{$index}}">
            <h2 class="card-pf-title pointer">
              <span class="fa fa-video-camera"></span> {{g.descr}}
              <span class="right-only small-font">Info
                  <span class="fa fa-sort-desc"></span>
              </span>
            </h2>
          </div>
          <div class="card-pf-body card-body-small-bottom">
            <div id="collapse-{{$index}}" class="panel-collapse collapse">
              <div ng-if="g.exten && g.exten.length > 0" class="progress-description full-size-max">
                {{'Extension' | translate}} <span class="right-only"><strong>{{g.exten}}</strong></span>
              </div>
              <div class="progress-description full-size-max">
                {{'URL' | translate}} <span class="right-only"><strong>{{g.url}}</strong></span>
              </div>
              <div class="progress-description full-size-max">
                {{'Opening code' | translate}} <span class="right-only"><strong>{{g.open}}</strong></span>
              </div>
              <div class="progress-description full-size-max">
                {{'Preview' | translate}} <span class="right-only border-gray"><img class="img-max-width-pre" ng-src="{{g.preview}}"></span>
              </div>
            </div>
            <div class="progress progress-xs progress-label-top-right">
              <div class="progress-bar progress-bar-{{g.verified ? 'success' : 'danger'}}" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                aria-valuemax="100" style="width: 100%;" data-toggle="tooltip" title="100% Used">
              </div>
              <span>{{g.verified ? 'Connected' : 'Connection error' | translate}}</span>
            </div>
          </div>
          <div class="card-pf-footer">
            <div class="card-pf-time-frame-filter">
              <div ng-show="g.onSave" class="spinner spinner-sm adjust-margin spinner-right"></div>
            </div>
            <p>
              <button data-toggle="modal" data-target="#newSourceModal" ng-click="modifySource(g)" class="btn btn-primary" type="button">{{'Modify' | translate}}</button>
              <button ng-click="selectSource(g)" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger" type="button">{{'Delete' | translate}}</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <button ng-if="!(allSources | isEmpty)" data-toggle="modal" data-target="#newSourceModal" class="btn btn-primary btn-lg right-only">{{'Create new source' | translate}}</button>
    <!-- END SOURCES -->
  </div>
</div>

<div class="modal fade" id="newSourceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <h4 class="modal-title" id="myModalLabel">{{'New source' | translate}}</h4>
      </div>
      <form class="form-horizontal" ng-submit="newSource.verified ? saveSource(newSource) : undefined">
        <div class="modal-body">
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Name' | translate}}</label>
            <div class="col-sm-9">
              <input type="hidden" value="{{newSource.currentDescr}}">
              <input required ng-model="newSource.descr" type="text" class="form-control profile-new-name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Extension' | translate}}</label>
            <div class="col-sm-9">
              <select data-live-search="true" title="-" pf-select="{ width: '180px' }" ng-model="newSource.exten" ng-options="u.id as (u.name + ' - ' + u.id) for u in users">
            </select></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'URL' | translate}}</label>
            <div class="col-sm-9">
              <input required ng-model="newSource.url" type="url" class="form-control profile-new-name"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Opening code' | translate}}</label>
            <div class="col-sm-9">
              <input ng-model="newSource.open" pattern="^[*+#]*[0-9]+([*#]+)?" class="form-control profile-new-name"></div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Profile' | translate}}</label>
            <div class="col-sm-9">
              <select multiple required title="-" pf-select="{ width: '180px' }" ng-model="newSource.profiles" ng-options="p.id as p.name for p in allProfiles">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Connection' | translate}}</label>
            <div class="col-sm-9">
              <button ng-click="checkConnection(newSource)" ng-disabled="!newSource.url && !newSource.open" class="btn btn-primary" type="button">{{'Check' | translate}}</button>
              <div ng-show="newSource.isChecking" class="spinner spinner-sm inline-display language-name check-connection"></div>
              <span ng-show="!newSource.isChecking && newSource.checked && newSource.verified" class="pficon pficon-ok check-status"></span>
              <span ng-show="!newSource.isChecking && newSource.checked && !newSource.verified" class="pficon pficon-error-circle-o check-status"></span>
            </div>
          </div>
          <div ng-if="newSource.verified" class="form-group">
            <label class="col-sm-3 control-label" for="textInput-modal-markup">{{'Preview' | translate}}</label>
            <div class="col-sm-9">
              <img class="img-max-width" ng-src="{{newSource.preview}}">
            </div>
          </div>
          <div ng-show="newSource.onSave" class="spinner spinner-sm adjust-margin loader-modal-profile"></div>
          <div class="modal-footer submit">
            <button ng-click="cancelSource(newSource)" type="button" class="btn btn-default" data-dismiss="modal">{{'Cancel' | translate}}</button>
            <button type="submit" class="btn btn-primary {{newSource.verified ? '' : 'disabled'}}">{{'Save' | translate}}</button>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            <span class="pficon pficon-close"></span>
          </button>
        <h4 class="modal-title" id="myModalLabel">
          {{"Delete" | translate}} {{currentSource.descr}}
        </h4>
      </div>
      <div class="modal-body">
        <div class="form-group medium-font no-margin-bottom">
          {{ "Are you sure" | translate }} ?
        </div>
      </div>
      <div class="modal-footer submit adjust-header">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Cancel" | translate }}</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSource(currentSource)">
          {{ "Delete" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
