body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: url('../images/login.svg');
  display: none;
  overflow: hidden;
}

span a {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

span p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  display: inline;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100% !important;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

/* VERTICAL NAVBAR */

.panel {
  background-color: #282828;
}

.nav-pf-vertical-alt {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.nav-pf-vertical-alt .list-group-item .badge {
  border-radius: 0;
  font-size: 11px;
}

.layout-pf-alt-fixed .nav-pf-vertical-alt {
  width: 250px;
  background: #282828;
  border-right: 0;
  z-index: 999;
}

.nav-pf-vertical-alt .list-group-item {
  background: #282828;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
}

.nav-pf-vertical-alt .list-group-item a {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item a:hover {
  color: #cfcfcf;
}

.nav-pf-vertical-alt .list-group-item:hover {
  background: #404040;
}

.nav-pf-vertical-alt .list-group-item.active {
  background: #404040;
  border-top: 1px solid #030303;
  border-bottom: 1px solid #030303;
  margin-top: -1px;
}

.nav-pf-vertical-alt .list-group-item.active a {
  color: #fff;
}

/*********/

/* CONTENT */

.container-fluid {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.layout-pf-alt.layout-pf-alt-fixed .container-pf-alt-nav-pf-vertical-alt {
  margin-left: 250px;
}

.layout-pf-alt.layout-pf-alt-fixed.layout-pf-alt-fixed-inner-scroll
  .container-pf-alt-nav-pf-vertical-alt.container-cards-pf {
  padding-top: 12px;
  overflow-x: hidden;
}

.pageLoader {
  z-index: 9999;
  top: 50%;
}

.navbar-brand-icon {
  height: 22px;
  position: absolute;
  top:16.5px;
}

/**************/

/* FOOTER */

.check-connection {
  position: absolute;
  margin-top: 4px;
}

.check-status {
  position: absolute;
  margin-top: 2px;
  margin-left: 11px;
  font-size: 20px;
}

.inline-color {
  position: absolute;
  margin-top: 2px;
  margin-left: 8px;
}

.inline-display {
  display: inline-block;
}

.footer-opt {
  margin-left: 8px;
  display: inline-block;
}

.footer-opt-right {
  margin-right: 8px;
  float: right;
}

.associated {
  color: #cfcfcf;
  background-color: #f5f5f5;
}

.layout-pf-alt-fixed-with-footer .footer-pf-alt {
  background: #171717;
  color: #cfcfcf;
  line-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.popover.top {
  min-width: 245px;
}

.card-pf-footer {
  padding: 15px 20px;
}

.list-header {
  margin-top: 0;
  margin-bottom: -30px;
}

.list-gateway:last-child {
  margin-bottom: 86px;
}

.list-item-header {
  background: #f5f5f5;
  border: none;
  border-top: none !important;
}

.list-item-header:hover {
  background: #f5f5f5 !important;
}

/**************/

/* LANGUAGE */

.navbar-pf-alt .infotip.bottom-right .arrow {
  left: 92%;
}

.change-language {
  cursor: pointer;
  margin-left: 15px !important;
}

.change-language:hover {
  background: #d5ecf9;
}

.language-name {
  margin-left: 12px;
}

/***********/

/* WIZARD */

.absolute-expand {
  position: absolute;
  right: 14px;
  top: 18px;
}

.line-margin-top {
  margin-top: 8px;
}

@media screen and (min-width: 1441px) {
  .absolute-provision {
    position: absolute;
    right: 50px;
    top: 16px;
  }

  .resized-list {
    height: 190px;
    overflow-y: auto;
    margin-top: 35px;
    padding-top: 0px;
    border-left: 1px #c5c5c5 solid;
  }
}

@media screen and (max-width: 1440px) {
  .resized-list {
    height: 190px;
    overflow-y: auto;
    margin-top: 4px;
    padding-top: 0px;
  }

  /*.absolute-provision {
    position: absolute;
    right: 14px;
    top: 55px;
  }*/
}

.no-border {
  border: none;
}

.no-border-radius {
  border-radius: 0px !important;
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-top {
  border-top: none !important;
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.pt-12 {
  padding-top: 12px !important;
}

.pb-12 {
  padding-bottom: 12px !important;
}

.back-whitesmoke {
  background: whitesmoke !important;
}

.border-bottom-color-grey {
  border-color: #bababa !important;
}

.border-color-whitesmoke {
  border-color: whitesmoke !important;
}

.cursor-default {
  cursor: default;
}

.no-top-pad {
  padding-top: 0px !important;
}

.blank-slate-pf {
  border: none;
  font-size: 14px;
}

.btn-lgg,
.btn-group-lgg > .btn {
  padding: 6px 10px;
  font-size: 20px;
  line-height: 1.3333333;
  border-radius: 1px;
}

.wizard-pf {
  height: 100%;
  margin: 0 auto;
  max-height: 900px;
  padding: 0px;
  width: auto;
}

.wizard-pf-steps-indicator {
  padding: 25px 0px;
  margin-bottom: 0px;
}

.wizard-pf-footer {
  z-index: 998;
  background: #f5f5f5;
}

#wizardStepBase {
  position: absolute;
  height: 58px;
  right: 0px;
  left: 0px;
  bottom: 33px;
  border-top: 1px solid #d1d1d1;
  background: whitesmoke;
}

.adjust-header {
  margin-top: 0px;
}

@media screen and (min-width: 1440px) {
  .adjust-link {
  }
}

@media screen and (max-width: 1440px) {
  .adjust-link {
    width: 100%;
    margin-top: -4px !important;
    margin-left: 40px;
  }
}

@media screen and (min-width: 992px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 25px;
  }

  .adjust-body-gateway {
    display: table-cell;
  }

  .adjust-info-gateway {
    clear: both;
    margin-left: 20%;
  }
}

@media screen and (max-width: 991px) {
  .adjust-search {
    margin-top: 5px;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 5px;
  }

  .adjust-header {
    margin-bottom: 4px;
  }

  .adjust-info-gateway {
    clear: both;
    margin-left: 0px;
  }
}

@media screen and (min-width: 1200px) {
  .wizard-pf-footer {
    margin-left: 250px;
    padding-left: 12px;
  }

  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .big-margin-top {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .wizard-pf-footer {
    margin-left: 76px;
    padding-left: 12px;
  }

  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .config-adjust-size-gateway {
    margin-bottom: 54px;
    margin-top: -54px;
  }
}

@media screen and (min-width: 768px) {
  .progress {
    margin-bottom: 0px;
    margin-top: 3px;
  }

  .adjust-size {
    margin-top: 16px;
    padding-right: 95px;
    padding-left: 95px;
    margin-bottom: 65px;
  }

  .config-title-icon-adjust {
    margin-left: 23px;
  }

  .adjust-voip {
    margin-top: 28px;
    margin-bottom: 45px;
  }

  .stop-less-config-col {
    min-width: 282px;
    margin-bottom: 100px;
  }

  .bs-cssgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .wizard-pf-footer {
    margin-left: 1px;
    padding-left: 12px;
  }

  #wizardStepBase {
    position: absolute;
    height: 58px;
    right: 0px;
    left: 0px;
    bottom: 31px;
    border-top: 1px solid #d1d1d1;
    background: whitesmoke;
  }

  .progress {
    margin-bottom: 8px;
    margin-top: 3px;
  }

  .adjust-size {
    margin-top: 16px;
    margin-bottom: 70px;
  }

  .right-button {
    float: right;
    margin-top: 16px;
    margin-bottom: 24px;
  }

  .handle-margin {
    margin-top: 10px;
  }

  .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  .no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .adjust-search {
    margin-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 8px;
  }

  .adjust-header {
    margin-bottom: 4px;
  }

  .config-adjust-size-gateway {
    margin-bottom: 30px;
    margin-top: -54px;
  }

  .config-title-icon-adjust {
    margin-left: 0px;
  }

  .adjust-voip {
    margin-top: 8px;
    margin-bottom: 65px;
  }

  .label-selected-bulk {
    margin-top: 15px;
  }

  #badge img {
    height: 35px !important;
  }

  .bs-cssgrid {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.col-bs-cssgrid {
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-bottom: 15px !important;
}

.list-view-pf .list-group-item {
  border-color: transparent #f5f5f5;
  cursor: pointer;
  border-bottom: 1px #ededed solid;
}

.list-view-pf .list-group-item:first-child {
  border-top: none;
}

.list-view-pf-additional-info {
  width: initial;
}

.list-view-pf-main-info {
  padding-bottom: 16px;
  padding-top: 16px;
}

.list-view-pf-main-info-strict {
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.list-view-pf-actions {
  margin-top: 16px;
  margin-bottom: 16px;
}

.list-view-pf .list-group-item-text {
  color: inherit;
}

@media (min-width: 992px) {
  .list-view-pf .list-group-item-text {
    width: calc(75% - 80px);
  }
}

@media screen and (max-width: 992px) {
  .list-view-pf .list-group-item-heading {
    font-size: 15px;
  }

  .fz-13-6-16 {
    font-size: 15px !important;
  }
}

.progress-content {
  margin-top: 40px;
}

.progress-description {
  text-align: left;
  max-width: 80%;
}

.list-view-pf .list-group-item-heading {
  flex: 1 0 calc(40% - 20px);
}

.configDevices-item-heading {
  flex: 1 0 calc(40% - 80px) !important;
  max-width: 188px;
}

.selected {
  background: #d5ecf9 !important;
}

.config-view-container {
  margin-top: 0px;
  overflow-y: auto;
  max-height: 680px;
  background-color: #fff;
}

.config-spinner {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
}

.config-item {
  height: 50px;
}

.config-info {
  display: block;
}

.config-adjust-size {
  margin-bottom: 20px;
}

.config-span {
  margin-right: 8px;
  font-size: 14px;
}

.config-span-container {
  display: flex;
  padding-left: 0px;
  padding-right: 0px;
}

.config-row {
  margin-top: 16px;
}

.config-row-button {
  margin-top: 15px;
}

.start-migration-btnicon {
  margin: 0px 5px 0px 0px;
}

.form-control[readonly] {
  color: #363636 !important;
}

.margin-migration-users {
  margin-top: 17px !important;
}

.margin-migration-usersmigration {
  background-color: #f5f5f5;
}

.absolute-icon-right {
  position: absolute;
  right: 30px;
}

.config-bottom {
  margin-bottom: 16px;
}

.config-bottom:last-child {
  margin-bottom: 0px;
}

.config-form-gateway {
  margin-bottom: 55px;
}

.config-button-list {
  text-align: right;
  background: #f5f5f5;
  padding-top: 8px;
  margin-bottom: -12px;
}

.config-gateway-footer {
  padding-right: 0px;
  padding-bottom: 0px;
  margin-top: 30px;
}

.no-margin {
  margin: 0px;
}

.no-margin-bottom {
  margin-bottom: 0px !important;
}

.no-margin-top {
  margin-top: 0px !important;
}

.anchor-sortable {
  font-size: 16px;
  margin-right: 8px;
  color: #777777 !important;
}

@media screen and (max-width: 990px) {
  .config-form {
    margin-left: -10px;
  }
}

.adjust-alert {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.adjust-alert-gateway {
  margin-top: 30px;
  margin-bottom: 0px;
}

.config-title-icon {
  font-size: 18px;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-icon-adjust {
  font-size: 18px;
  margin-right: 18px;
  margin-top: 12px;
}

.config-title-user {
  margin-bottom: 11px;
}

.config-list-item-right {
  padding-bottom: 10px;
  padding-top: 10px;
}

.weight {
  font-weight: 500;
}

.weight-plus {
  font-weight: 600;
}

.weight-dest {
  font-weight: 700;
  line-height: 1px;
}

.more-elem {
  width: calc(35% - 80px) !important;
}

.card-body-small-bottom {
  margin-bottom: 5px;
}

.space-bottom {
  margin-bottom: 8px;
}

.no-background {
  background: #f5f5f5;
}

.as-sortable-placeholder {
  border: 2px dashed #bbb !important;
  background: #fff !important;
  visibility: visible !important;
  margin-bottom: 4px !important;
}

.route-name-id {
  color: #909090;
}

@media screen and (max-width: 1557px) {
  .weight-gateway {
    display: block;
    margin-left: 56px;
    margin-top: 6px;
  }

  .adjust-search-gateway {
    margin-top: 22px;
  }
}

@media screen and (max-width: 1950px) {
  .eswitch-mt {
    margin-top: 10px !important;
  }
}

@media screen and (max-width: 1884px) {
  .eswitch-mt2 {
    margin-top: 10px !important;
  }
}

@media screen and (min-width: 1200px) {
  .pr-50 {
    padding-right: 50px;
  }

  .pl-50 {
    padding-left: 50px;
  }

  .divider-border {
    border-right: 1px solid whitesmoke;
  }
}

.mxw-211 {
  max-width: 211px;
}

@media screen and (max-width: 1200px) {
  .weight-gateway {
    display: initial;
    margin-left: initial;
    margin-top: initial;
  }

  .adjust-search-gateway {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1800px) {
  .adjust-body-gateway {
    display: inherit;
  }

  .adjust-info-gateway {
    margin-left: initial;
  }
}

.small-font {
  font-size: 12px;
}

.medium-font {
  font-size: 18px;
}

/**********/

/* ICON */

.icon-med {
  font-size: 16px;
  line-height: 24px;
}

.miw-135 {
  min-width: 135px;
}

.icon-med-reload {
  vertical-align: middle;
  margin-left: 12px;
  padding: 6px;
}

.adjust-margin {
  margin-left: -1px;
  margin-top: -2px;
}

.adjust-margin-extensions {
  margin-top: 10px;
}

.adjust-bottom {
  margin-bottom: 12px;
}

.adjust-button {
  margin-left: -1px;
}

.adjust-icon {
  font-size: 22px !important;
}

.adjust-model-gateway {
  margin-left: 14px;
}

.adjust-badge {
  right: 38px !important;
}

.adjust-panel-body:first-child {
  border-top: 0px;
}

.adjust-panel-body:last-child {
  border-bottom: 0px !important;
}

.nav-pf-vertical-alt .panel-collapse .active.list-group-item:last-child {
  border-bottom: 0px !important;
}

#adminCollapse .list-group-item:last-child {
  border-bottom: 1px solid #030303 !important;
  margin-bottom: -1px !important;
}

#navbar-left {
  bottom: 38px !important;
}

.dln-btn {
  float: right;
  margin-top: -26px;
  margin-right: -50px;
}

.adjust-panel-body {
  color: #fff;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 14px;
  border-top: 1px solid #030303 !important;
}

.adjust-weight {
  font-weight: normal;
}

.adjust-body-user {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 679px;
}

.user-config-detail {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: -2px;
}

.device-config-detail {
  line-height: 30px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: -2px;
  text-align: right;
}

.a-menu {
  padding: 0px !important;
  height: 100% !important;
}

.img-max-width {
  max-width: 372px;
}

.img-max-width-pre {
  max-width: 290px;
}

.border-gray {
  border: 1px solid #8e8e8e;
}

.no-opacity {
  opacity: 1 !important;
}

.adjust-filter {
  margin-top: 8px;
}

.filter-label {
  float: left;
  line-height: 42px;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

.adjust-filter-user {
  margin-top: 28px;
}

.adjust-filter-label {
  margin-top: 10px;
}

.adjust-creation-info {
  margin-bottom: -25px;
}

.adjust-portal-link {
  float: inline-end;
  margin-top: -3px;
}

.check-results {
  margin-top: 8px;
  padding-left: 1px;
}

.filter-label-bulk {
  display: inline-block;
  font-size: 15px;
  margin-right: 8px;
  font-weight: 400;
}

.label-selected-bulk {
  font-size: 15px;
  text-align: right;
}

.margin-top-lg {
  margin-top: 38px;
}

.margin-top-md {
  margin-top: 20px;
}

.filter-label-user {
  float: left;
  font-size: 16px;
  margin-right: 8px;
  font-weight: 400;
}

#label-order {
  margin-top: auto;
}

.menu-item-left {
  cursor: pointer;
  padding-left: 25px !important;
  padding-top: 10px !important;
}

.menu-item-left:hover {
  background: #404040;
}

.centered {
  text-align: center;
}

.fz-19 {
  font-size: 19px !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.right {
  text-align: right;
}

.right-align {
  float: right;
  min-width: 65px;
}

.left-align {
  float: right;
  margin-right: 10px;
  min-width: 65px;
}

.right-only {
  float: right;
}

.left {
  text-align: left;
}

.left-align {
  text-align: left !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.spinner-right {
  float: right;
  margin-top: 6px;
}

.spinner-right-color {
  float: right;
  margin-top: 2px;
}

.icon-right {
  float: right;
  margin-top: 7px;
  font-size: 16px;
}

.loader-modal {
  float: right;
  margin-right: 30px;
  margin-top: -6px;
}

.loader-modal-profile {
  float: right;
  margin-left: 10px;
  margin-top: 16px;
}

.loader-modal-gateway {
  float: right;
  margin-right: 15px;
  margin-top: 0px;
}

.loader-modal-gateway-not-form {
  float: right;
  margin-right: 0px;
  margin-top: 3px;
  margin-left: 8px;
}

.loader-modal-gateway-not-form-out {
  float: right;
  margin-right: 0px;
  margin-top: 6px;
  margin-left: 8px;
}

.disabled {
  color: #999 !important;
}

.adjust-line {
  font: inherit;
  font-size: 14px !important;
  line-height: 26px !important;
}

.adjust-list {
  flex: initial;
  width: 60%;
}

.display-flex {
  display: flex;
}

.adjust-form {
  margin-top: 12px;
}

.adjust-profile-header {
  background: #ededed;
  margin-bottom: 0px;
  line-height: 42px;
}

.adjust-profile-margin {
  margin-bottom: 16px;
}

.adjust-profile-body {
  border: 1px solid #e2e2e2;
}

.profile-list-container {
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e2e2e2;
}

.profile-list-container:nth-last-child(11) {
  border-bottom: none;
}

.profile-list-container-child {
  margin-bottom: 12px;
  margin-left: 20px;
  border-bottom: none;
}

.profile-macro-title {
  clear: both;
  font-size: 16px;
  font-weight: 600;
}

.profile-permission {
  margin-bottom: 12px;
}

.child-permission {
  margin-left: -12px;
}

.profile-permission-container {
  margin-top: 16px;
}
.profile-permission-container-child {
  margin-top: 8px;
  border-left: 1px solid #e2e2e2;
  margin-left: 0px;
}

.child-font {
  font-size: 14px;
}

.profile-panel {
  background: #fff;
  cursor: auto;
}

.list-group {
  border-top: 0px;
}

.list-group-item:hover {
  background: #f1f1f1;
}

.profile-button-save {
  float: right;
  margin-top: 6px;
  margin-right: 8px;
}

.profile-save-spinner {
  float: right;
  margin-top: 12px;
  margin-right: 15px;
}

.query-space-form {
  display: grid;
  width: 96%;
  min-height: 120px;
  margin-top: 5px;
}

.grid {
  display: grid;
}

.divider {
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  display: inline-block;
  margin-top: 1%;
  margin-bottom: 1%;
}

.vertical-sub {
  vertical-align: sub;
}

.gray-label {
  font-weight: 600;
  color: #8e8e8e;
}

.profile-new-name {
  max-width: 180px;
}

.full-size-max {
  max-width: 100%;
}

.imp-full-size-max {
  width: 100% !important;
}

.profile-open-icon {
  float: right;
  margin-right: 12px;
  margin-left: -6px;
  margin-top: 2px;
}

.dropdown-user-migration {
  margin-top: -1px;
  width: 180px;
}

.card-pf-view .card-pf-top-element .card-pf-icon-circle {
  border: 2px solid #39a5dc;
  font-size: 26px;
  height: 55px;
  line-height: 50px;
  width: 55px;
}

.adjust-card {
  margin-top: 20px;
}

.list-group-item-container {
  background: #fff;
  border-top: solid 1px #ededed;
  box-sizing: content-box;
  margin: 0px 0px 15px;
  -ms-flex-order: 3;
  order: 3;
  padding: 10px 15px;
  position: relative;
  width: 100%;
}

.filter-label-user-order {
  vertical-align: bottom;
  display: inline-block;
  margin-top: 10px;
}

.filter-label-user-order .fa-sort-alpha-asc {
  font-size: 15px;
  margin-left: 5px;
  vertical-align: bottom;
  margin-bottom: 6px !important;
}

.filter-label-user-order .fa-sort-alpha-desc {
  font-size: 15px;
  margin-left: 5px;
  vertical-align: bottom;
  margin-bottom: 6px !important;
}

.full-size {
  width: 100%;
}

.sortable-item {
  background: rgb(245, 245, 245);
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

.sortable-item:active {
  background: rgb(234, 234, 234);
}

.as-sortable-dragging {
  border: 1px solid #bbb !important;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 62px;
}

.sortable-item:hover {
  background: rgb(234, 234, 234);
}

.sortable-item:last-child {
  border-bottom: 0px;
}

.wizard-pf-step a {
  font-size: 12px !important;
}

@media screen and (max-width: 430px) {
  .wizard-pf-step a {
    font-size: 10px !important;
  }
}

/**********/

.generic-error {
  position: absolute;
  top: 72px;
  right: 12px;
}

.editor {
  height: 200px;
  margin-top: 5px;
}

.small-margin {
  margin-top: 5px;
}

.middle-margin-bottom {
  margin-bottom: 20px;
}

.adjust-margin-bottom {
  margin-bottom: 4px !important;
}

.editor-form {
  height: 200px;
  width: 97%;
  font-size: 14px !important;
  margin-top: 5px;
}

.editor-template {
  height: 85px;
  margin-top: 5px;
}

.editor-preview {
  width: 97%;
  border: 1px solid #bbb;
  min-height: 275px;
}

.editor-code {
  width: 97%;
  margin-bottom: -5px;
}

.editor-preview-list {
  width: 100%;
  border: 1px solid #bbb;
  height: 250px;
}

.color-padding {
  padding-top: 4px;
}

.color-active {
  border: 2px solid #c1c1c1 !important;
}

iframe body {
  overflow: auto;
}

.cube-color-red {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #db2828;
  display: inline-block;
}

.cube-color-orange {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #f2711c;
  display: inline-block;
}

.cube-color-yellow {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #fbbd08;
  display: inline-block;
}

.cube-color-olive {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #b5cc18;
  display: inline-block;
}

.cube-color-green {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #21ba45;
  display: inline-block;
}

.cube-color-teal {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #00b5ad;
  display: inline-block;
}

.cube-color-blue {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #2185d0;
  display: inline-block;
}

.cube-color-violet {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #6435c9;
  display: inline-block;
}

.cube-color-purple {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #a333c8;
  display: inline-block;
}

.cube-color-pink {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #e03997;
  display: inline-block;
}

.cube-color-brown {
  cursor: pointer;
  border: 2px solid #fff;
  width: 22px;
  height: 16px;
  background: #a5673f;
  display: inline-block;
}

.config-all-devices {
  margin-bottom: 32px;
  margin-top: 0px;
}

.bulk-container {
  margin-bottom: 12px;
  margin-right: 15px;
}

.scanned-lists {
  padding-right: 9px !important;
  padding-left: 9px !important;
}

.slim-weight {
  font-weight: 200;
}

.drd-button {
  width: 180px;
}

.width-180 {
  width: 180px !important;
}

.width-160 {
  width: 160px !important;
}

.drd-carret {
  float: right;
  margin-top: 5px;
  left: -6px !important;
}

.drd-ul {
  width: 180px;
}

.spinner-container {
  padding: 18px 0px;
}

#importInput {
  display: none !important;
}

#uploadInput {
  display: none !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.margin-bottom-lg {
  margin-bottom: 85px;
}

#digitsWarning {
  padding: 0px 21px 0px 10px !important;
}

.inline-hr {
  display: inline-block;
  margin-top: 0px !important;
  margin-bottom: 3px !important;
  width: 100%;
  border-color: #d1d1d1 !important;
}

.inline-text {
  display: inline !important;
}

.form-divider-row {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 22px;
  margin-top: 28px;
}

.form-divider-row .fa {
  margin-left: 6px !important;
}

.form-divider-string {
  font-size: 13px;
  margin: 0px 2px;
}

.sm-font {
  font-size: 15px !important;
}

.cursive {
  font-style: italic;
}

.right-padding {
  padding-right: 21px !important;
}

.divider-vertical {
  margin-left: 10px;
}

#badge img {
  height: 48px;
}

#brand {
  margin-top: 8px;
  margin-bottom: 15px;
  margin-left: 0px;
  font-size: 22px !important;
}

.dashboard-title {
  margin-bottom: 15px;
  margin-left: 5px;
  font-size: 22px !important;
}

.navbar-pf-alt {
  background: #171717;
}

.col-brand {
  height: 20px;
}

.paramurl-descr-label {
  text-align: left !important;
}

.paramurl-input {
  max-width: 390px;
}

.paramurl-input-span {
  width: 72%;
  margin-right: 10px;
}

.paramurl-url-label {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  line-height: 21px;
}

.vmiddle {
  vertical-align: middle;
}

.paramurl-warning {
  margin-bottom: 0px !important;
}

.paramurl-input-readonly {
  width: 93%;
}

.paramurl-input-span .popover.top {
  min-width: 50px !important;
}

.list-view-configuration-settings {
  margin-right: 0px !important;
}

.configurationSettingsContainers {
  background: #f5f5f5;
  padding: 29px 0px 0px 7px;
}

.settings-inputs-configuration {
  padding-bottom: 16px;
}

.margin-bottom-medium {
  margin-bottom: 30px;
}

.no-lateral-margins {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.less-margin-left-conf {
  margin-left: -21px !important;
}

.min-width-conf-cols {
  min-width: 302px;
}

.padding-left-conf-col {
  padding-left: 0px !important;
  margin-right: -9px;
}

.width-26 {
  width: 26px;
}

.flex-container {
  flex: 1 0 calc(40% - 20px);
}

.inline-flex {
  display: inline-flex !important;
}

#accordion-markup-usersmig {
  padding-bottom: 90px;
}

#users-migration-title {
  margin-bottom: 20px;
}

#conf-migration-title {
  margin-bottom: 20px;
}

.red-colored {
  color: #cc0000;
}

#wizard-container {
  margin-bottom: 90px;
}

.disabled-color {
  color: #999 !important;
}

.left-column-input-container {
  min-width: 250px !important;
}

.select-text-inputs {
  cursor: pointer;
  background-color: white !important;
  text-align: left;
}

.inprogress-text {
  font-size: 19px;
  line-height: 0px;
  margin-left: 16px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin-left: 0px;
  width: 50px;
  height: 30px;
}

.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #8d8d8d;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-3 {
  margin-top: 3px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-7 {
  margin-top: 7px !important;
}

.mt-1 {
  margin-top: 1px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-14 {
  margin-top: 14px !important;
}

.mb-14 {
  margin-bottom: 14px !important;
}

.mt-13 {
  margin-top: 13px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mt-2 {
  margin-top: 2px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-22 {
  margin-top: 22px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-48 {
  margin-top: 48px !important;
}

.mt-43 {
  margin-top: 43px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.mt-102 {
  margin-top: 102px !important;
}

.mt-103 {
  margin-top: 103px !important;
}

.mt-104 {
  margin-top: 104px !important;
}

.mtn-1 {
  margin-top: -1px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mt-12 {
  margin-top: 12px !important;
}

.mb-12 {
  margin-bottom: 12px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-75 {
  margin-bottom: 75px !important;
}

.ml-7 {
  margin-left: 7px !important;
}

.mxw-210 {
  max-width: 210px !important;
}

.encryption-switch {
  margin-left: 2px;
}

.mxw-200 {
  max-width: 200px !important;
}

.mxw-150 {
  max-width: 150px !important;
}

.mnw-55 {
  min-width: 55px !important;
}

.mnw-180 {
  min-width: 180px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.ml-12 {
  margin-left: 12px !important;
}

.ml-3 {
  margin-left: 3px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.h-60 {
  height: 60px !important;
}

.mt-5 {
  margin-top: 5px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.mr-7 {
  margin-right: 7px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-2 {
  margin-right: 2px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.h-0 {
  height: 0px !important;
}

.h-12 {
  height: 12px !important;
}

.h-30 {
  height: 30px !important;
}

.h-18 {
  height: 18px !important;
}

.h-20 {
  height: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.popover-content {
  overflow-x: auto;
}

.model-container .bootstrap-select {
  width: 100% !important;
}

.model-container .control-label {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.migration-spinners {
  margin-top: 12px;
  height: 21px !important;
  width: 21px !important;
}

.success-mig-icon {
  font-size: 21px !important;
  margin-top: 5px !important;
}

.toggle-icon-mig {
  margin-top: 4px !important;
}

.simple-hidden {
  display: none;
}

.message-icon {
  float: left;
  font-size: 38px;
  margin-right: 0px;
  margin-left: 13px;
  margin-top: 5px;
}

.message-list {
  display: inline-block;
  vertical-align: top;
}

.message-ul {
  margin-top: 12px;
  float: left;
}

.message-subtitle {
  padding-left: 19px;
}

.migration-config-container {
  padding-bottom: 90px;
}

.overflow-auto {
  overflow: auto;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pf-red {
  color: #cc0100 !important;
}

.cdr-entries-num {
  font-size: 14px;
}

.spinner-in-navbar-container {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border: 0px !important;
}

.groups-margin-top {
  margin-top: 40px;
}

.profiles-margin-top {
  margin-top: 29px;
}

.devices-margin-top {
  margin-top: 10px;
}

.physical-margin-top {
  margin-top: 10px;
}

.inbound-margin-top {
  margin-top: 28px;
}

.configuration-title-margin-top {
  margin-top: 6px;
  margin-bottom: 14px;
}

.costumer-cards-margin-top {
  margin-top: 38px;
}

.video-sources-margin-top {
  margin-top: 38px;
}

.urls-margin-top {
  margin-top: 38px;
}

.bulk-margin-top {
  margin-top: 27px;
}

.report-margin-top {
  margin-top: 38px;
}

.dashboard-margin-top {
  margin-top: 27px;
}

.empty-dashboard {
  padding: 40px 10px;
}

.wizard-model-modal {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px !important;
}

.wizard-model-modal .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#configSettings .form-group {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#configDevices .abstract-item .list-view-pf-actions {
  min-width: 140px !important;
}

.wizard-modal {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0px !important;
}

.wizard-modal .wizard-pf-footer {
  margin-left: 0px !important;
}

.wizard-modal .wizard-pf-steps-indicator {
  padding: 38px 0px !important;
  margin-bottom: 9px !important;
}

.wizard-modal .wizard-pf-step a {
  font-size: 13px !important;
}

.wizard-modal .modal-header {
  border-bottom: solid 1px #d1d1d1 !important;
}

.wizard-modal .wizard-pf-sidebar {
  position: relative !important;
}

.wizard-modal #sidebarColl {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: #fafafa;
}

.wizard-modal .wizard-pf-main {
  margin-left: -10px !important;
  margin-right: -30px;
  padding-right: 50px;
  overflow: visible !important;
}

.wizard-modal .wizard-pf-row {
  margin-left: 0px !important;
  position: relative !important;
  top: 0px !important;
}

.wizard-modal .modal-content {
  height: auto !important;
  margin-bottom: 34px;
}

.wizard-modal .wizard-pf-sidebar {
  border-right: none !important;
}

.wizard-modal #bodyCall {
  border-left: 1px solid #d1d1d1;
  min-height: 159px;
  margin-bottom: 57px;
}

.wizard-modal .wizard-pf-sidebar .list-group-item > a {
  width: 100% !important;
}

.wizard-modal .form-horizontal .control-label {
  padding-left: 0px !important;
}

.wizard-modal .modal-body {
  padding: 0px !important;
}

.source-form .modal-body .form-group {
  margin-left: -9px !important;
  margin-right: -13px !important;
}

.wizard-modal .form-horizontal .input-container {
  padding-right: 20px;
}

.wizard-modal #bodyCall .list-view-pf .list-group-item-text {
  margin: 0px 0px 0px 0px !important;
}

.wizard-modal #bodyCall .list-view-pf .list-group-item {
  border: 1px solid #e8e8e8;
  margin-bottom: -1px !important;
  background: #fafafa !important;
}

#creationWizardModal {
  overflow-y: hidden !important;
}

.overflow-hidden {
  overflow: hidden;
}

.map-view-in-card {
  border-top: 1px solid #d1d1d1;
  margin: 20px -20px -2px -20px;
}

.phonebook-sources-title-size {
  font-size: 14px !important;
}

.source-card-bottomside-title {
  padding-left: 20px;
}

.list-front-row-phonebook {
  border-color: #d1d1d1 !important;
  background-color: #fafafa;
  border-top-color: #d1d1d1 !important;
  box-shadow: none !important;
}

.list-front-row-header-phonebook {
  background: #fafafa;
  border-color: #e8e8e8;
}

.settings-h3 {
  margin-bottom: 25px !important;
}

/* .settings-h3::before {
  content: "";
  height: 3px;
  position: absolute;
  top: 40px;
  width: 35px;
  background-color: #ddd;
} */

.withslash::before {
  content: "\/";
  height: 3px;
  position: absolute;
  top: -6px;
  right: -5px;
  font-size: 23px;
  font-weight: 100;
  color: #9c9c9c;
}

.list-map-container-phonebook {
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 30px;
}

.wizard-modal #bodyCall .list-group-item-text {
  margin: 0px 0px 0px 0px !important;
  color: #7b7b7b !important;
}

.list-tablefrom-phonebook {
  font-weight: 600;
  font-size: 12px;
}

.list-tablefrom-phonebook .fa {
  margin-right: 5px;
}

.tables-named-divider {
  margin: 0px 8px;
}

.right-margin-fine {
  margin-right: 5px !important;
}

.phonebook-table-left-border {
  border-color: whitesmoke !important;
}

.list-item-header-phonebook {
  padding-top: 0px;
  padding-bottom: 0px;
}

.phonebook-title-subheader {
  height: 1px;
}

.phone-sources-phonebook {
  margin-bottom: 30px !important;
}

.custom-code-tag {
  overflow-x: auto;
  overflow-y: hidden;
  height: 50px;
  background: #ececec;
  border: 1px solid #dedede;
  padding: 7px;
  white-space: nowrap;
}

.text-color-green {
  color: #10b981 !important;
}

.text-color-red {
  color: #db2828 !important;
}

#navbar-left .panel-collapse .list-group-item {
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
}

.editor-form-phonebook {
  width: 100% !important;
  height: 145px !important;
}

.phonebook-source-title {
  font-size: 16px;
}

.phonebook-source-title-container {
  background: #f5f5f5;
}

.phonebook-source-border {
  border: 1px solid #e8e8e8 !important;
}

.phonebook-sources-map {
  margin-top: 35px;
  margin-bottom: 35px;
}

.selection-query-prev {
  min-height: 125px;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 5px;
}

.empty-preview-phonebook {
  padding: 30px 10px !important;
}

#creationsourceModal {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.oriziontal-segment-phonebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  margin-bottom: 4px !important;
  margin-top: 0 !important;
  position: relative;
}

.orizontal-segment-phonebook-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  border: none;
  background: 0 0;
  margin: 0;
  padding: 1em;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orizontal-segment-phonebook-label {
  display: inline-block;
  line-height: 1;
  vertical-align: baseline;
  font-size: 11px;
  margin: 0 0.14285714em;
  background-color: #e8e8e8;
  background-image: none;
  padding: 0.5833em 0.833em;
  color: rgba(0, 0, 0, 0.6);
  text-transform: none;
  font-weight: 600;
  border: 0 solid transparent;
  border-radius: 0.28571429rem;
}

.orizontal-segment-phonebook-row {
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orizontal-segment-phonebook-values {
  color: #666;
}

.source-icon-container {
  padding: 13px 3px;
  margin-top: 18px;
  border-top: 1px solid #f2f3f2;
}

.source-icon-container i {
  color: #36b5ad;
  font-size: 12px;
}

.orizontal-segment-phonebook-content:hover {
  background-color: #f3f3f4;
}

.preview-icon-phonebook {
  font-size: 17px;
  color: #9c9c9c;
}

.preview-icon-container {
  text-align: right;
  margin-top: -11px;
  margin-right: -11px;
  margin-bottom: 7px;
}

.preview-bigicon-container {
  margin-top: 6px;
}

.big-icon-phonebook {
  font-size: 56px;
}

.empty-preview-text {
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: 3px;
  color: gray;
}

.orizontal-segment-phonebook-icon {
  margin-right: 5px;
  width: 1.18em;
  height: 1em;
  text-align: center;
}

.sync-settings-string {
  margin-top: 27px;
  margin-bottom: 10px;
}

.phonebook-settings-rows {
  margin-bottom: 65px;
}

.settings-title {
  margin-top: 16px;
}

.onof-button-phonebook {
  margin-bottom: 0px !important;
}

.onof-string {
  line-height: 27px;
  margin-left: 22px;
  color: gray;
}

#dbInfoSqlSource {
  margin-top: 15px;
}

.view-settings-string-phonebook {
  margin-top: 10px;
  margin-bottom: 10px;
}

.phonebook-badge {
  margin-left: 0px !important;
  font-size: 12px !important;
}

.active-a-interval {
  background-color: #0088ce !important;
  border-color: #0088ce !important;
  color: #fff !important;
}

.sync-phonebook-icon {
  margin: 0px 3px 0px 4px;
}

.phonebook-footer-card-buttons {
  margin-top: 3px;
  margin-bottom: 3px;
}

.phonebook-card-footer {
  padding: 12px 20px !important;
}

#phonebookSyncSpinner {
  margin: 7px 12px 0px 0px;
}

.sync-source-res {
  font-size: 18px;
  margin: 7px 12px 0px 0px;
}

.dotted-divider {
  border-bottom: 1px dotted #bbbbbb;
}

.no-lateral-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.loop-keys-index {
  font-weight: 600;
  margin-top: 13px;
  padding-left: 20px;
  margin-bottom: 13px;
  font-size: 15.2px;
}

.dropping {
  border-color: #10b981 !important;
  color: #10b981 !important;
}

.loop-keys-index::before {
  content: "";
  height: 3px;
  position: absolute;
  top: 39px;
  width: 35px;
  background-color: #ddd;
}

.lh-61 {
  line-height: 61px !important;
}

@media screen and (max-width: 1200px) {
  .loop-keys-index::before {
    top: 25px;
  }
}

.padding-lateral-null {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.list-view-pf .list-group-item.list-view-pf-expand-active {
  border-color: transparent #f5f5f5;
  cursor: pointer;
  border-bottom: 1px #ededed solid;
}

.background-white {
  background-color: white !important;
}

.main-extension-icon {
  font-size: 17px;
  margin-top: -7px;
  margin-left: 2px;
  position: absolute;
  font-weight: bold;
}

.plateral-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.mln-1 {
  margin-left: -1px !important;
}

#configurationList > .list-group-item:hover {
  border: solid 1px #10b981 !important;
}

.margin-10 {
  margin: 10px !important;
}

#devicesAssociation .list-group-item {
  border: 1px solid whitesmoke;
  padding: 0px 15px !important;
}

.fz-18 {
  font-size: 18px !important;
}

.fz-16 {
  font-size: 16px !important;
}

.fz-15 {
  font-size: 15px !important;
}

.fz-13-6-16 {
  font-size: 13.6px;
}

#currentModelForm label {
  margin-bottom: 3px !important;
}

.modified-input {
  border-color: #7dc3e8 !important;
}

.table-caption-bottom {
  display: table-caption !important;
  caption-side: bottom !important;
}

.vertical-middle {
  vertical-align: middle !important;
}

#defaultSettingsModal label {
  margin-bottom: 3px !important;
}

.absolute-position {
  position: absolute !important;
}

.right-25 {
  right: -25px !important;
}

.right-20 {
  right: -20px !important;
}

.right-15 {
  right: -15px !important;
}

.right-10 {
  right: -10px !important;
}

.right-5 {
  right: -5px !important;
}

.zindex-2 {
  z-index: 2;
}
.modal-wizard {
  width: 900px;
  padding: 30px;
}

.modal-wizard-footer {
  margin-left: 0;
}

.mg-left-0 {
  margin-left: 0;
}

.mg-left-5 {
  margin-left: 5px;
}

.mg-left-10 {
  margin-left: 10px;
}

.mg-left-15 {
  margin-left: 15px;
}

.mg-left-20 {
  margin-left: 20px;
}

.mg-left-350 {
  margin-left: 350px;
}

.center-v {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.width-100p {
  width: 100%;
}

.pasted-mac-area {
  height: 6em !important;
  margin-bottom: 10px;
}

.phones-to-add {
  border: 1px solid #ededed;
  max-height: 380px;
  overflow: auto;
  overflow-x: hidden;
}

.toggle-legend-list {
  max-height: 90px;
  overflow: auto;
  overflow-x: hidden;
}

.cursor-default {
  cursor: default;
}

.cursor-pointer {
  cursor: pointer;
}

.border-color-bbb button {
  border-color: #bbb !important;
}

.clear {
  clear: both;
}

.no-margin-left-right {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.border-top-list {
  border-top: 1px #ededed solid !important;
}

.small-size-wizard {
  font-size: 20px !important;
  line-height: 20px !important;
}

.no-pad {
  padding: 0;
}

.option-card {
  float: left;
  height: 124px;
  border: 1px solid #d1d1d1;
  margin: 0;
  margin-bottom: 10px;
  cursor: pointer;
}

.active-choose-green {
  border: 2px solid #047857 !important;
  margin-top: -1px !important;
}

.card-row {
  margin: auto;
}

.width-33p {
  width: 33%;
}

.width-30p {
  width: 30%;
}

.toast-pf-top-right {
  top: 74px;
}

.list-view-pf .list-group-item-text-narrow {
  width: calc(50% - 80px);
}

.list-view-pf .list-group-item-heading-narrow {
  flex: 1 0 calc(30% - 20px);
}

.mg-top-10 {
  margin-top: 10px;
}

.mg-top-20 {
  margin-top: 20px;
}

.mg-bottom-10 {
  margin-bottom: 10px;
}

.mg-bottom-15 {
  margin-bottom: 15px;
}

.mg-bottom-8 {
  margin-bottom: 8px;
}

.mg-bottom-6 {
  margin-bottom: 6px;
}

.mg-bottom-5 {
  margin-bottom: 5px;
}

.mg-right-5 {
  margin-right: 5px;
}

.align-items-stretch {
  align-items: stretch !important;
}

.warning {
  color: #ec7a08 !important;
}

.page-help {
  margin-bottom: 25px;
}

.page-help ul {
  margin-bottom: 0;
}

.width-700 {
  width: 700px;
}

/* Start Inventory */
#paste-textarea {
  resize: none;
}

#inv-new-phone-dialog .popover {
  width: 500px;
  max-width: none;
}

#inv-new-phone-dialog pre {
  width: 50%;
}

#inv-new-phone-dialog {
  text-align: justify;
}

.mg-right-10 {
  margin-right: 10px;
}

.mg-right-20 {
  margin-right: 20px;
}

.reset-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  display: inline-block !important;
  margin-left: 5px !important;
}

.info-general {
  font-size: 14px;
}

.pad-top-bottom-6 {
  padding-top: 6px !important;
  padding-bottom: 6px !important;
}

.success {
  background-color: #e9f4e9;
  border-color: #047857 !important;
}

.align-items-flex-start {
  align-items: flex-start;
}

.green-progress {
  background: #87dd93 !important;
}

.spinner-large {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.mg-bottom-0 {
  margin-bottom: 0;
}

.width-12p {
  width: 12% !important;
}

.width-15p {
  width: 15% !important;
}

.width-55p {
  width: 55% !important;
}

.width-240 {
  width: 240px;
}

.black {
  color: black;
}

a.black:focus,
a.black:hover,
a.black:active {
  color: black;
}

.filter {
  display: inline-block;
  margin-right: 10px;
}

.pos-relative {
  position: relative;
}

.flex-grow-1 {
  flex-grow: 1;
}

.line-height-normal {
  line-height: 1.66666667;
}

.bg-color-white {
  background-color: white;
}

.set-model-feedback {
  vertical-align: middle;
  font-size: 20px;
  margin-left: 5px;
}

.toggle-legend {
  float: none;
  padding-left: 0;
}

.toggle-legend a {
  color: #363636;
}

.flex-column-w100p {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-row-stretch-w100p {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch !important;
}

.flex-1-0-auto {
  flex: 1 0 auto !important;
}

#phone-list {
  margin-bottom: 30px;
}

/* end Inventory */

#devices-not-linked-list {
  min-height: 338px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

#devices-not-linked-list {
  min-height: 338px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

#configurationList {
  min-height: 80px;
  max-height: calc(100vh - 300px);
  overflow: auto;
}

.lateral-padding-15 {
  padding: 0px 15px;
}

.changed-color {
  color: #ff9800;
}

.not-changed-color {
  color: #363636;
}

.loop-key {
  background-color: #f5f5f5;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tooltip-wrapper {
  display: inline-block;
}

.tooltip-wrapper .btn[disabled] {
  pointer-events: none;
}

.popover-small-width {
  width: 112px !important;
  min-width: 0 !important;
}

.btn-input-group {
  padding: 0 !important;
  border: none;
}

.pad-top-25 {
  padding-top: 25px !important;
}

.pf-select .dropdown-menu.open {
  padding-bottom: 0px !important;
}

.pf-select .bs-searchbox {
  margin: -2px -2px 3px -2px;
}

.w-75 {
  width: 75px !important;
}

.config-list-devices {
  display: initial !important;
}

.input-group {
  /* margin-bottom: 15px; */
}

.rpsUrlFailure {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  width: 87%;
}

.dragArea {
  text-align: center;
  background: #f5f5f5;
  padding: 22px 0px;
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  border: 1px solid #c1c1c1;
  height: 105px;
}

.w-180 {
  width: 180px;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.filesList {
  list-style-type: none;
  padding: 0px !important;
  display: grid;
  row-gap: 3px;
  margin-top: 15px !important;
  margin-bottom: 30px !important;
}

.hide {
  display: none !important;
}

.fileUploading {
  display: grid;
  column-gap: 20px;
  grid-template-columns: minmax(50px, 215px) 60px 48px;
}

.fileUploaded {
  display: grid;
  column-gap: 20px;
  grid-template-columns: minmax(50px, 215px) 60px min-content;
}

.mtn-30 {
  margin-top: -30px !important;
}

.dynamicsearch::before {
  content: "";
  position: absolute;

  height: 10px;
  position: absolute;
  top: 40px;
  width: 35px;
  background-color: #ddd;
}

.dynamicsearch-list {
  position: absolute;
  z-index: 1000;
  min-width: 160px;
  width: calc(100% - 40px);
  padding: 0px;
  margin-top: 12px;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #bbb;
  border-radius: 1px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dynamicsearch-list .list-group {
  overflow-x: auto;
  max-height: 190px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.dynamicsearch-list .arrow {
  left: 10% !important;
}

.dynamicsearch-list .infotip {
  min-width: auto !important;
}

.dynamicsearch-item {
  cursor: pointer;
  margin-left: 15px !important;
}

.dynamicsearch-item:hover {
  background: #d5ecf9;
}

.dynamicsearch-label {
  margin-left: 12px;
}

.device-warning-bg {
  background: #ec7a0833;
}

.device-warning-bg:hover {
  background: #fff;
}

.fs-15 {
  font-size: 15px !important;
}

.ml-11 {
  margin-left: 11px;
}

/* .rm-first-option .dropdown-menu ul li:first-child {
  display: none !important;
} */

/* #modelsUIUrl .input-group {
  margin-bottom: 0px !important;
} */

.no-padding-top {
  padding-top: 0px !important;
}

.no-padding-bottom {
  padding-bottom: 0px !important;
}

.dropdown-kebab-pf .btn-link:active,
.dropdown-kebab-pf .btn-link:focus,
.dropdown-kebab-pf .btn-link:hover {
  color: #10b981 !important;
}

.pficon.pficon-service.list-view-pf-icon-sm::before {
  margin-top: 1px !important;
  margin-right: 3px !important;
}

.leftcol-vh {
  height: calc(100vh - 300px);
  min-height: 405px;
  overflow-y: auto;
  overflow-x: hidden;
}

.enhanced-scroll::-webkit-scrollbar {
  width: 5px;
  border: 0;
}

.enhanced-scroll::-webkit-scrollbar {
  width: 5px;
  border: 0;
}

.enhanced-scroll::-webkit-scrollbar-track {
  background: #ebebeb;
}

.enhanced-scroll::-webkit-scrollbar-thumb {
  background: #cecece;
}

.no-padding-right {
  padding-right: 0px !important;
}

.no-padding-left {
  padding-left: 0px !important;
}

#encryptionCss {
  margin-left: 120px;
  font-size: 16px;
  cursor: pointer;
  z-index: 9999;
}

#encryptionCss:hover {
  color: #10b981;
}

.modal-backdrop {
  /* bug fix - no overlay */
  display: none;
}

#encryptionModalTitle {
  text-align: center;
  line-height: 54px;
  font-size: 25px;
  font-weight: 700;
}

#modalEncryptionCss {
  font-size: 23px;
}

/* popup in the adding source */
#informationSource {
  margin-top: -10px;
  margin-left: 13px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

#informationSource:hover {
  color: #10b981;
}

#columnModal {
  /* color:#10b981; */
  font-weight: 700 !important;
  font-size: large;
}

#columnModalColored {
  background-color: #f3f6f6 !important;
}

.overflowSources {
  overflow-y: auto;
}

.copyedPassword {
  margin-top: 0px !important;
}

.listConfiguration {
  margin-bottom: 6px;
}

.modalListConfiguration {
  margin-bottom: -46px;
}

#warningModal {
  font-size: 23px !important;
}

.encryptedButtonModal {
  margin-bottom: 6px;
}

.labelTitleEncrypted {
  margin-left: 26px !important;
  margin-top: -22px !important;
}

.editProfile {
  width: 395px !important;
}

.standardFont::-webkit-input-placeholder {
  font-style: normal !important;
}

.informationIcon {
  font-size: 18px !important;
  position: relative;
  top: 4px !important;
  margin-left: 8px !important;
}

.errorConfiguration {
  background-color: transparent !important;
  border-color: transparent !important;
  margin-left: 81px !important;
  margin-top: -34px !important;
  margin-bottom: -6px !important;
  border: none !important;
}

@media screen and (max-width: 767px) {
  .hideItem {
    visibility: hidden !important;
  }

  .cutSpace {
    margin-bottom: -100px !important;
  }
}

.forceCodecEdit {
  margin-left: 7px !important;
}

.resizeModal {
  margin-bottom: -12px !important;
}

.text-orange {
  color: #ec7a08 !important;
}

/* Remove useless overflow */
.resizePhysical {
  overflow-x: clip !important;
}

.resizeDashboard {
  max-height: 356px !important;
  overflow-y: auto !important;
  overflow-x: clip !important;
}

#outboundVariable {
  margin-right: -23px !important;
}

.card-pf.card-pf-accented {
  border-top-color: #10b981;
}

.adjust-search-button {
  height: 33px;
}

.adjust-center {
  text-align: center !important;
}

.adjust-container-height {
  min-height: 80px !important;
}